<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>JAVA analyze</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/css/bootstrap-select.min.css">


    <style type="text/css">
        .input{
            width: 100%;
            position: relative;
            font-family: Source Code Variable Semibold,monospace;
            font-size: 16px;
            height: 200px;
        }
        .result{
            padding-left: 10px;
            width: 100%;
            /*border: 1px solid rgba(107, 110, 114, 0.96);*/
            font-family: Verdana,monospace;
            font-size: 15px;
            height: 343px;
            overflow-y: scroll;
        }
    </style>

</head>
<body>
<div class="container" >
    <div class="page-header" style="margin-top: 0; margin-bottom: 7PX; padding-bottom: 0;">
        <h3>JAVA analyze </h3>
    </div>

    <ol class="breadcrumb" style="margin-bottom: 5px">
        <li><a href="compiler">Analyzer</a></li>
        <li class="active">Setting</li>
    </ol>

    <div class="row" style="margin: 0">
        <div class="col-md-12">
            <form role="form" id="commentModule">
                <div class="row" >
                    <div class="form-group" >
                    <h4>Comment Module</h4>
                    <div class="col-md-3">
                        <h5>lineTailComment</h5>
                        <select class="selectpicker" id="lineTailComment" name="lineTailComment">
                            <option>deny</option>
                            <option>demand</option>
                            <option>none</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5>orphanComment</h5>
                        <select class="selectpicker" id="orphanComment" name="orphanComment">
                            <option>deny</option>
                            <option>demand</option>
                            <option>none</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5>beforeClassComment</h5>
                        <select class="selectpicker" id="beforeClassComment" name="beforeClassComment">
                            <option>deny</option>
                            <option>demand</option>
                            <option>none</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <h5>beforeMethodComment</h5>
                        <select class="selectpicker" id="beforeMethodComment" name="beforeMethodComment">
                            <option>deny</option>
                            <option>demand</option>
                            <option>none</option>
                        </select>
                    </div>
                </div>
                </div>
<!--                <button type="submit" class="btn btn-default">提交</button>-->
            </form>
            <form role="form" id="symbolModule">
                <div class="row" >
                    <div class="form-group" >
                        <h4>symbolModule</h4>
                        <div class="col-md-3">
                            <h5>packageName</h5>
                            <select class="selectpicker" id="packageName" name="packageName">
                                <option>UpperCamelCase</option>
                                <option>lowerCamelCase</option>
                                <option>allLower</option>
                                <option>none</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <h5>methodName</h5>
                            <select class="selectpicker" id="methodName" name="methodName">
                                <option>UpperCamelCase</option>
                                <option>lowerCamelCase</option>
                                <option>allLower</option>
                                <option>none</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <h5>className</h5>
                            <select class="selectpicker" id="className" name="className">
                                <option>UpperCamelCase</option>
                                <option>lowerCamelCase</option>
                                <option>allLower</option>
                                <option>none</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <h5>variableName</h5>
                            <select class="selectpicker" id="variableName" name="variableName">
                                <option>UpperCamelCase</option>
                                <option>lowerCamelCase</option>
                                <option>allLower</option>
                                <option>none</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <form role="form" id="libraryModule">
                <div class="row" >
                    <div class="form-group" >
                        <h4>symbolModule</h4>
                        <div class="col-md-3">
                            <h5>num4display</h5>
                            <input type="text" class="form-control" id="num4display" name="num4display" placeholder="4" value="4">
                        </div>
                        <div class="col-md-3">
                            <h5>displayMethod</h5>
                            <select class="selectpicker" id="displayMethod" name="displayMethod">
                                <option>simpleDisplay</option>
                                <option>verboseDisplay</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <form role="form" id="crawlModule">

                    <div class="form-group" >
                        <div class="row">
                            <h4>Crawl Module</h4>
                            <div class="col-md-3">
                                <h5>inName</h5>
                                <select class="selectpicker" id="inName" name="inName" >
                                    <option>deny</option>
                                    <option>demand</option>
                                    <option>none</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h5>inDescription</h5>
                                <select class="selectpicker" id="inDescription" name="inDescription" >
                                    <option>deny</option>
                                    <option>demand</option>
                                    <option>none</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h5>inReadme</h5>
                                <select class="selectpicker" id="inReadme" name="inReadme" >
                                    <option>deny</option>
                                    <option>demand</option>
                                    <option>none</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>stars</h5>
                                <input type="text" class="form-control" id="stars" name="stars" placeholder=">20" value=">20">
                            </div>
                            <div class="col-md-3">
                                <h5>size</h5>
                                <input type="text" class="form-control" id="size" name="size" placeholder="<500" value="<500">
                            </div>
                            <div class="col-md-3">
                                <h5>pushed</h5>
                                <input type="text" class="form-control" id="pushed" name="pushed" placeholder=">2020-01-01" value=">2020-01-01">
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isCrawler" name="isCrawler"> 是否应用爬虫爬取额外数据
                            </label>
                        </div>
                    </div>

            </form>
            <div class="row">
                <button id="save" class="btn btn-success" data-loading-text="Running...">
                    保存
                </button>
            </div>


        </div>

        <!--        <div class="col-md-1">-->
        <!--            <div class="row" style="margin-left: 20px; display: none">-->
        <!--                <h4>&nbsp;P-code </h4>-->
        <!--                <div class="result" id="pcode">-->
        <!--                    <table class="table table-hover table-bordered table-striped table-earnings">-->
        <!--                        <thead>-->
        <!--                            <tr>-->
        <!--                                <th scope="col">No.</th>-->
        <!--                                <th scope="col">Operation</th>-->
        <!--                                <th scope="col">Layer</th>-->
        <!--                                <th scope="col">Address</th>-->
        <!--                            </tr>-->
        <!--                        </thead>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
<!--    <div class="row">-->
<!--        <div class = "col-md-6">-->
<!--            <h4>Output:</h4>-->
<!--            <pre id="output" class="input"></pre>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <div class="row" style="margin-left: 20px;">-->
<!--                <h4>&nbsp;Package Recommend </h4>-->
<!--                <div class="result" id="pcode">-->
<!--                    <table class="table table-hover table-bordered table-striped table-earnings">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">Package</th>-->
<!--                            <th scope="col">Description</th>-->
<!--                            <th scope="col">Url</th>-->
<!--                            &lt;!&ndash;                                <th scope="col">Layer</th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <th scope="col">Address</th>&ndash;&gt;-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta/dist/js/i18n/defaults-*.min.js"></script>

<script type="text/javascript">

    function loadFile() {
        let file = document.getElementById("input_file").files[0];
        if (file) {
            let reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                code.setValue(evt.target.result);
                code.clearSelection();
            };
            reader.onerror = function () {
                alert("Error when reading file!");
            }
        }
    }

    /** 表单序列化成json字符串的方法  */
    function form2JsonString(formId) {
        var paramArray = $('#' + formId).serializeArray();
        /*请求参数转json对象*/
        var jsonObj={};
        $(paramArray).each(function(){
            jsonObj[this.name]=this.value;
        });
        var jsonObj_all = {}
        jsonObj_all['Amodule']=jsonObj
        jsonObj_all['Bmodule']="x"
        console.log(jsonObj_all);
        // json对象再转换成json字符串
        return JSON.stringify(jsonObj_all);
    }
    /** 表单序列化成json字符串的方法  */
    function form2JsonString_custom() {
        var jsonObj_all = {}

        var paramArray = $('#commentModule').serializeArray();
        /*请求参数转json对象*/
        var jsonObj={};
        $(paramArray).each(function(){
            jsonObj[this.name]=this.value;
        });
        jsonObj_all['commentModule']=jsonObj

        paramArray = $('#symbolModule').serializeArray();
        /*请求参数转json对象*/
        jsonObj={};
        $(paramArray).each(function(){
            jsonObj[this.name]=this.value;
        });
        jsonObj_all['symbolModule']=jsonObj

        paramArray = $('#libraryModule').serializeArray();
        /*请求参数转json对象*/
        jsonObj={};
        $(paramArray).each(function(){
            jsonObj[this.name]=this.value;
        });
        jsonObj_all['libraryModule']=jsonObj

        paramArray = $('#crawlModule').serializeArray();
        /*请求参数转json对象*/
        jsonObj={};
        $(paramArray).each(function(){
            jsonObj[this.name]=this.value;
        });
        jsonObj_all['crawlModule']=jsonObj

        console.log(jsonObj_all);
        // json对象再转换成json字符串
        return JSON.stringify(jsonObj_all);
    }

    function fillPcode(pcodeList) {
        // p-code
        let s = '<table class="table table-hover table-bordered table-striped table-earnings">';
        s += '<thead><tr><th scope="col">No.</th><th scope="col">Operation</th><th scope="col">Layer</th><th scope="col">Address</th>';
        s += '<tbody>';
        $.each(pcodeList, function (i, pcode) {
            let no = i + 1;
            s += '<tr>';
            s += '<td>' + no + '</td>';
            s += '<td>' + pcode['f'] + '</td>';
            s += '<td>' + pcode['l'] + '</td>';
            s += '<td>' + pcode['a'] + '</td>';
            s += '</tr>';
        });
        s += '</tbody></table>';
        $('#pcode').html(s);
    }

    function fillPackage(pcodeList) {
        // p-code
        let s = '<table class="table table-hover table-bordered table-striped table-earnings">';
        s += '<thead><tr><th scope="col">Package</th><th scope="col">Description</th><th scope="col">Url</th>';
        s += '<tbody>';
        $.each(pcodeList, function (i, pcode) {
            let no = i + 1;
            s += '<tr>';
            s += '<td>' + pcode['pname'] + '</td>';
            s += '<td>' + pcode['description'] + '</td>';
            s += '<td>' + pcode['url'] + '</td>';
            s += '</tr>';
        });
        s += '</tbody></table>';
        $('#pcode').html(s);
    }

    function fillOutput(errorList, outputList) {
        let s = '';
        // output
        $.each(outputList, function (i, output) {
            s += output;
            s += '\n';
        });
        // error
        if(errorList != null){
            $.each(errorList, function (i, error) {
                s += 'Error(Line ' + error['line'] + ', Column ' + error['col'] + '): ' + error['kind'] + '\n';
            });
        }
        output.setValue(s);
        output.clearSelection();
    }

    function fillStyleOutput(style_output) {
        let s ='';
        s += style_output
        // let s = '';
        // // output
        // $.each(outputList, function (i, output) {
        //     s += output;
        //     s += '\n';
        // });
        // // error
        // if(errorList != null){
        //     $.each(errorList, function (i, error) {
        //         s += 'Error(Line ' + error['line'] + ', Column ' + error['col'] + '): ' + error['kind'] + '\n';
        //     });
        // }
        output.setValue(s);
        output.clearSelection();
    }

    $('#compile').click(function (e) {
        let data = {};
        data.code = code.getValue();
        if(code.getValue() != null && code.getValue() !== ""){
            e.preventDefault();
            $.ajax({
                url: '/compiler/compile',
                type: 'post',
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: function (json) {
                    json = JSON.parse(json);
                    const pcodeList = json['pcodeList'];
                    const errorList = json['errorList'];

                    console.log(errorList);
                    console.log(pcodeList);

                    if(errorList.length === 0){
                        fillOutput(null, ["编译成功，可以解释执行！", "若有输入，请先输入数据"]);
                    }
                    else{
                        fillOutput(errorList, ["编译失败！"]);
                    }
                    fillPcode(pcodeList);
                }
            });
        }
    });


    $('#save').click(function (e) {
        // let data = {};
        // data.code = code.getValue();
        //if(code.getValue() != null && code.getValue() !== ""){
            e.preventDefault();
            $.ajax({
                url: '/setting/save',
                type: 'post',
                data: form2JsonString_custom(),
                contentType: "application/json;charset=utf-8",
                success: function (json) {
                    alert("Success");
                    console.log("success")
                    json = JSON.parse(json);
                    console.log(json);
                    // fillPcode(pcodeList);
                    // if(errorList.length === 0)
                    //     fillOutput(null, outputList);
                    // else
                    //     fillOutput(errorList, ["编译失败！"]);
                }
            });
    });

    $('#run').click(function (e) {
        let data = {};
        data.code = code.getValue();
        if(code.getValue() != null && code.getValue() !== ""){
            data.input = input.getValue();
            e.preventDefault();
            $.ajax({
                url: '/compiler/interpret',
                type: 'post',
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: function (json) {
                    json = JSON.parse(json);
                    const output_str = json['output'];
                    const packageList = json['packageList']

                    console.log(output_str);
                    fillStyleOutput(output_str)
                    fillPackage(packageList)
                    // fillPcode(pcodeList);
                    // if(errorList.length === 0)
                    //     fillOutput(null, outputList);
                    // else
                    //     fillOutput(errorList, ["编译失败！"]);
                }
            });
        }
    });
</script>
</body>
</html>

